<body>
  <h1>new Events</h1>
  <p>View more events by ...</p>
  <a href="../categories/">Categories</a>
  <!-- <a href="/events/new">Add Event</a>  -->
  <h2>Recently Events</h2>
  <div>
    <caption>
      <img src="https://www.mississaugasymphony.ca/wp-content/uploads/2024/08/used-book-sale-1024x688-1.jpg" alt="books">
      <figcaption>Books</figcaption>
      <button type="submit" >Join Now</button>
    </caption>

    <caption>
      <img src="https://cdn.prod.website-files.com/60754790876509970970cb53/629e7fa03c908d01d15b1f65_DJI_0179-1200w.jpg" alt="cats">
      <figcaption>Cars</figcaption>
      <button type="submit" >Join Now</button>
    </caption>

    <caption>
      <img src="https://www.alliedmarketresearch.com/blog/Blog_banner_image/ctoykrzsmv.jpeg" alt="music">
      <figcaption>Music</figcaption>
      <button type="submit" >Join Now</button>
    </caption>
    </div>
</body>

