<body>
  <h1>new Events</h1>
  <p>View more events by ...</p>
  <a href="../categories/index.ejs">Categories</a>
  <h2>Recently Events</h2>
  <ul><% events.forEach(Event) %> 
    <li>
      <strong><%=Event.eventname%></strong> - <%=Event.Date%>
      <a href="/reserve/<%=Event._id%>">Event</a>
    </li>
  </ul>
</body>