<head>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div>
    <h2>My Comments</h2>
    <% if (comments.length > 0) { %>
    <ul>
      <% comments.forEach(comment => { %>
      <li>
        <%= comment.userId.username %>: <%= comment.discription %>
        <a href="/comments/my-comments/<%= comment._id %>/edit" class="edit-btn"
          >Edit</a
        >
        <form
          action="/comments/my-comments/<%= comment._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>

      <% }); %>
    </ul>
    <% } else { %>
    <p>You have not made any comments yet.</p>
    <% } %>
  </div>
</body>
