<head>
  <link rel="stylesheet" href="../../stylesheets/style.css" />
</head>

<body>
  <div class="comments-container">
    <h2>My Comments</h2>
    <% if (comments.length > 0) { %>
    <ul class="comments-list">
      <% comments.forEach(comment => { %>
      <li class="comment-item">
        <span class="comment-text"
          ><%= comment.userId.username %>: <%= comment.discription %></span
        >
        <a href="/comments/my-comments/<%= comment._id %>/edit" class="edit-btn"
          >Edit</a
        >
        <form
          action="/comments/my-comments/<%= comment._id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No comments yet.</p>
    <% } %>
  </div>
</body>