<body>
  <img src="" alt="">
  <a href="/views/categories">Back to Categories</a>
<button type="submit"><%=Event.eventname%></button>
<button type="submit"><%=Event.eventname%></button>
<button type="submit"><%=Event.eventname%></button>
</body>