<head>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<h1><%= Event.eventname%></h1>
<h2><%= Event.Date%></h2>
<button><%= Event.tickCount%></button>
<div>
  <h1>Event Description</h1>
  <a href="">Buy a Ticket</a>
  <a href="../">Back to the list</a>
</div>
<div>
</div>
</body>