<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TikPik</title>
    <link rel="stylesheet" href="../../stylesheets/style.css" />
  </head>
  <body>
    <div class="nav">
      <div class="toleft">
        <a href="/categories">TickPic</a>
      </div>
      <div class="toRight">
        <a href="/events">Events</a>
        <% if (user) { %>
          <a href="/auth/profile">My Profile</a>
          <a href="/auth/sign-out">Sign out</a>
        <% } %>
      </div>
    </div>
    <section class="comments-section">
      <header>
        <h2>Comments Section</h2>
        <a href="/comments/my-comments" class="my-comments-link">My Comments</a>
      </header>
      <ul class="comments-list">
        <% comments.forEach(comment => { %>
        <li class="comment-item">
          <% if (comment.userId) { %>
          <span class="comment-author"><%= comment.userId.username %></span>:
          <span class="comment-text"><%= comment.discription %></span>
          <% } else { %>
          <span class="comment-author">Unknown User</span>:
          <span class="comment-text"><%= comment.discription %></span>
          <% } %>
        </li>
        <% }); %>
      </ul>
      <form action="/comments" method="POST" class="add-comment">
        <label for="discription">Comment:</label>
        <textarea name="discription" id="discription" required></textarea>
        <button type="submit">Add Comment</button>
      </form>
    </section>
  </body>
</html>
