<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign in</title>
    <link rel="stylesheet" href="../../stylesheets/style.css">
  </head>

  <body>
    
    <div class="container">
      <div class="image-container">
        <img src="https://media2.cltampa.com/cltampa/imager/u/original/14776446/img_7722.jpg" />
      </div>
      <div class="signin-container">
        <form action="/auth/sign-in" method="POST">
          <h1>Sign In</h1>
          <label>Username:</label>
          <input type="text" name="username" />
          <br>
          <label>Password:</label>
          <input type="password" name="password">
          <br>
          <button type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>