<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TikPick</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="nav">
    <div class="toleft">
      <a href="/categories">TickPic</a>
    </div>
    <div class="toRight">
      <a href="/events">Events</a>
      <% if (user) { %>
        <a href="/auth/sign-out">Sign out</a>
      <% } %>
    </div>
  </div>
  <div class="index-container">
    <div class="text-container">
      <h1 class="main-header">TikPick</h1>
      <p class="subheader">Book your ticket now ...</p>
    </div>
    <div class="auth-links">
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
      <!-- <a href="/categories">categories</a> -->
    </div>
  </div>
</body>
</html>