<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TikPick</title>
</head>
<body>
  <div class="left">
    <h1>TikPick</h1>
    <p>Book your ticket now ...</p>
  </div>
  <div class="right">
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    
  </div>
</body>
</html>