<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickPick</title>
</head>
<body>
  <nav>
    <a href="/">TickPick</a>
      <p>Hi user</p>//change it to the icon later
      <a href="/aut/sign-out">Sign out</a>
  </nav>
  <div class="header-container">
    <div class="right">
      <h1>New Event</h1>
      <h3>View More Events By ...</h3>
      <button type="submit">Categories</button>
    </div>
  </div>

  <h2>Recent Events</h2>
  <div class="Events">
    
    <!-- after creating the event ctrl add here -->

  </div>
</body>
</html>