<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Categories</title>
<link rel="stylesheet" href="../../stylesheets/style.css">
</head>
<body>
    <%- include('../partials/_nav.ejs') %>

  <h1>Categories</h1>
  <div class="category-list">
    <button class="category-button" onclick="location.href='/events/categories/books'">
        <img src="https://www.mississaugasymphony.ca/wp-content/uploads/2024/08/used-book-sale-1024x688-1.jpg" alt="Books">
        <figcaption>Books</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/cars'">
        <img src="https://cdn.prod.website-files.com/60754790876509970970cb53/629e7fa03c908d01d15b1f65_DJI_0179-1200w.jpg" alt="Cars">
        <figcaption>Cars</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/music'">
        <img src="https://www.alliedmarketresearch.com/blog/Blog_banner_image/ctoykrzsmv.jpeg" alt="Music">
        <figcaption>Music</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/festivals'">
        <img src="https://www.visit.alsace/wp-content/uploads/2018/11/festival-decibulles-2017-laurent-khram-longvixay-1-1600x900.jpg" alt="Festivals">
        <figcaption>Festivals</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/sports'">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSb3wnkHgX0-OOKvdkzclJXOClEhYFXv9M6XUDjg1KQlyuuUG-x" alt="Sports">
        <figcaption>Sports</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/comedy'">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSP0KXeIJOr4uh44EeN9T7lxJpQ8NuiljD1DCzymiRh_8II9LCh" alt="Comedy">
        <figcaption>Comedy</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/food'">
        <img src="https://cdn.prod.website-files.com/63d06722a6f6c82db2e3292f/66226d32f51bec36b0e2b8c4_4th%20of%20July%20barbecue%20scene%20group%20of%20friends%20or%20family%20enjoying%20the%20food%20and%20company.jpeg" alt="Food">
        <figcaption>Food</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/hobbies'">
        <img src="https://extramile.thehartford.com/wp-content/uploads/2023/04/find-hobby.jpg" alt="Hobbies">
        <figcaption>Hobbies</figcaption>
    </button>
    <button class="category-button" onclick="location.href='/events/categories/education'">
        <img src="https://img.freepik.com/free-photo/group-young-people-sitting-conference-together_58466-11188.jpg" alt="Education">
        <figcaption>Education</figcaption>
    </button>
  </div>
</body>
</html>