<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- //nav -->
  <div class="nav">
    <a href="/categories" class="toRight">TickPic</a>
    <a href="/auth/profile">My Profile</a>
    <a href="/events">Events</a>
  </div>
  <!-- nav end -->
  <h1>Add A New Category</h1>
  <a href="/categories">Categories</a>
  <form action="/categories" method="post">
    <label for="category"> Name:</label>
    <input type="text" name="CategoryType" id="CategoryType">

    <button type="submit">Add Category</button>
  </form>
</body>
</html>